@font-face {
    font-family: 'breathe_fireregular';
    src: url("../../public/Fonts/breathe-fire/breathefire-65pg-webfont.woff2") format('woff2'),
         url('../../public/Fonts/breathe-fire/breathefire-65pg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}